.ss {
    font: 800 25px system-ui;    
    /* color: rgb(255, 248, 248); */
    color:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 70px;
    flex-wrap: wrap;
    border-radius: 10px;
    margin-top: 50px;
  }

.items{
    width: 180px;
    height: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-left: 10px;
    padding: 15px;    
}

.item1 {  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 15px;
}

.border{
  height: 60px;
  position: relative;
  /* left: 25px; */
  padding: 10px;
  border-left: 5px solid rgba( 255, 255, 255, 0.18 );
  border-color: rgb(13, 121, 216);
}

@media (max-width:1200px){
  .ss {
    font: 800 18px system-ui;    
    position: relative;
  }

  .items{
    color: black;
    width: 180px;
    height: 0px;
    padding: 20px;
  }
}
