@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cuprum&family=Open+Sans:ital,wght@1,600&family=Rubik:wght@300&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.nav-bar{
    background-color: rgba(22, 16, 16);
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    color: white;
    z-index: 1;
}


.logo{
  color: white;
  font-family: 'Roboto';
  font-size: 30px;
  border: solid;
  padding: 5px;
}

.nav-bar ul{
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center;
    
  
}

.nav-bar ul li{
    list-style: none;
    padding-left: 10px;
    padding-right: 25px;
    font-size: 15px;
    font-weight: 900;
    position: relative;
  }

a{
    text-decoration: none;
    color: white;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");



.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #ffffff;
  
  
    ::after {
      content: '';
      position: absolute;
      width: 85%;
      transform: scaleX(0);
      height: 2px;
      bottom: -5px;
      left: 0;
      background-color: #566df0;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
  
    :hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

  
}

@media (max-width:1200px){
  
	.nav-bar ul{
        display: none;
    }
    
}